$page_background: #E9ECF0;
$table_cell_background: #f3f6fa;
$emphasis_color: #084EF4;
$highlight_color: #FFAE11;
$text_color: #1D2128;
$cell_border_color: #DCDEE1;
$checkbox_color: #04AA96;
$na_color: #888C90;